@if $include__trump--margin{
    /*------------------------------------
     # TRUMP MARGIN
    ------------------------------------*/

    @for $i from $wf__trumps-margin-init through $wf__trumps-margin-end{
        $value : $i*$wf__trumps-margin-steps;

        .t-m-#{$value}{
            margin-top: #{$value}px !important;
        }
        .t-m-t-#{$value}{
            margin-top: #{$value}px !important;
        }
        .t-m-r-#{$value}{
            margin-top-right: #{$value}px !important;
        }
        .t-m-b-#{$value}{
            margin-top-bottom: #{$value}px !important;
        }
        .t-m-l-#{$value}{
            margin-left: #{$value}px !important;
        }
    }

    /*------------------------------------
     # END TRUMP MARGIN
    ------------------------------------*/

}// end if
