@if $include__trump--padding{
    /*------------------------------------
     # TRUMP PADDING
    ------------------------------------*/

    @for $i from $wf__trumps-padding-init through $wf__trumps-padding-end{
        $value : $i*$wf__trumps-padding-steps;

        .t-p-#{$value}{
            padding: #{$value}px !important;
        }
        .t-p-t-#{$value}{
            padding-top: #{$value}px !important;
        }
        .t-p-r-#{$value}{
            padding-right: #{$value}px !important;
        }
        .t-p-b-#{$value}{
            padding-bottom: #{$value}px !important;
        }
        .t-p-l-#{$value}{
            padding-left: #{$value}px !important;
        }
    }

    /*------------------------------------
     # END TRUMP padding
    ------------------------------------*/

}// end if
