
mixin m-headBuilder(params)
	mixin _generateCssLinks(cssFiles)
		if(cssFiles != undefined)
			each cssFile in cssFiles
				link(rel="stylesheet", type="text/css" href=cssFile + ".css")
	mixin _generateJsTags(jsFiles)
		if(jsFiles != undefined)
			each jsFile in jsFiles
				script(type="text/javascript",src=jsFile + ".js")
	head
		// Título página
		block title
			title= params.title

		// Etiquetas META
		meta(charset=(params.codification || "UTF-8"))
		each val, meta in params.metaList
			meta(name=meta, content=val)

		link(rel="icon", href="favicon.ico",sizes="25x25")
		if params.cssFiles != undefined && params.cssFiles.length > 0
			// build:css css/style.min.css 123
			+_generateCssLinks(params.cssFiles)
			// end build:css
		if(params.ieCompatibility != undefined)
			// CSS Y SCRIPT compatibilidad IE
			each cpMode, cpNames in params.ieCompatibility
				- var cpModes = [];
				if(cpNames.indexOf(",") != 0)
					- cpModes = cpNames.split(",");
				else
					- cpModes = [cpNames]
				each cpName in cpNames
					case cpName
						when "7"
							<!--[if IE 7]>
							+_generateCssLinks(cpMode.cssFiles)
							+_generateJsTags(cpMode.jsFiles)
							<![endif]-->
						when "8"
							<!--[if IE 8]>
							+_generateCssLinks(cpMode.cssFiles)
							+_generateJsTags(cpMode.jsFiles)
							<![endif]-->
						when "9"
							<!--[if IE 9]>
							+_generateCssLinks(cpMode.cssFiles)
							+_generateJsTags(cpMode.jsFiles)
							<![endif]-->
						when "10"
							<!--[if IE 10]>
							+_generateCssLinks(cpMode.cssFiles)
							+_generateJsTags(cpMode.jsFiles)
							<![endif]-->

			// Fin CSS Y SCRIPT compatibilidad IE


		if (params.jsFiles != undefined && params.jsFiles.length > 0)
			// build:js js/main.min.js
			+_generateJsTags(params.jsFiles)
			// end build:js js/main.min.js
