//- Config globals var


-var $globals 		= 	{imgPath:'assets/img/', pathCss: 'css/', pathJs: 'js/', pathLibsJs: 'js/libs/', pathLibsCss: 'css/libs/', assets: 'assets/', mediaPath: 'assets/media/'}
-var $ns 			= 	'wf-'
