///*------------------------------------------------------------
//    #COLORS
//-------------------------------------------------------------*/



$color-map: (
  primary   : #c33400,
  secondary : #333333,
  tertiary  : #444444,
  grey-1    : #666666,
  grey-2    : #e9e9e9,
  grey-3    : #f8f8f8,
  grey-4    : #dddddd,
  grey-5    : #efefef,
  grey-6    : #999999,
  b-grey-1  : #c9c6c6,
  bg-page   : #fafafa,
  white     : #ffffff,
  black     : #000000,
  links     : #4ba7ee,
  titles    : #003970,
  title-2   : #105aa3,
  border-b  : #c9e4f9,
  border-h  : #326c96,
  radio     : #6dc138,
  alert     : #e82e34
);

