///*------------------------------------------------------------
//    #FUNCTION BORDER RADIUS
//-------------------------------------------------------------*/

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}
