/*------------------------------------
    # OBJECT WRAPPER
------------------------------------*/

@if $wf__wrapper-fluid == true{
	.wrapper-fluid{
		min-width: rem($wf__base-wrapper);
		margin: 0 auto;
		padding: 0 rem($wf__base-spacing/2);
	}
}
@else{
	.wrapper{
		max-width: rem($wf__base-wrapper);
    margin: 0 auto;
    padding: 0 rem(15);
	}
}

@each $breakpoint in $breakpoints {

  // Get the name of the breakpoint.
  $alias: nth($breakpoint, 1);

  @include media-query($alias) {

      .wrapper {
        @if ($alias == "xs" or $alias == "sm")  {
          max-width: 100%;
        } @else {
          max-width: map-get($wf__breackpoints, $alias) + px;
        }
      }

  }
  // Close media query.
}


/*------------------------------------
    # END OBJECT WRAPPER
------------------------------------*/
