// /*-------------------------------------------
// 	#FONT GENERATOR
// ---------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,300,400,700');


//  Copy font files into assets/fonts/
//  Gulp automatic copy this files into css/fonts

///* Example for use @font-face
//
//	@include font-face([name-font],
//		$wf__base-path-font+'[name-font]',
//		[font-style],
//		[font-weight],
//		[type-font(eot | woff | svg | ttf)]
//	);
//
//*/
@include font-face(opensans,
    $wf__base-path-font + 'opensans/opensans-regular',
    normal,
    normal,
    eot  woff  svg  ttf
);



// Include Fonts

@mixin roboto-slab-mejora-24 {
    font: {
      family: 'Roboto Slab', serif;
      size: 24px;
      weight: 700;
    }
    color: #00a2ff;
}

@mixin roboto-slab-mejora-18 {
    font: {
      family: 'Roboto Slab', serif;
      size: 18px;
      weight: 700;
    }
    color: #00a2ff;
}

@mixin roboto-slab-hotel-24-regular {
    font: {
      family: 'Roboto Slab', serif;
      size: 24px;
      weight: 400;
    }
    color: #06016d;
}

@mixin roboto-slab-hotel-24-bold {
    font: {
      family: 'Roboto Slab', serif;
      size: 24px;
      weight: 700;
    }
    color: #06016d;
}

@mixin roboto-slab-hotel-38-regular {
    font: {
      family: 'Roboto Slab', serif;
      size: 38px;
      weight: 400;
    }
    color: #06016d;
}

@mixin roboto-slab-hotel-38-bold {
    font: {
      family: 'Roboto Slab', serif;
      size: 38px;
      weight: 700;
    }
    color: #06016d;
}

@mixin roboto-slab-rutina-18 {
    font: {
      family: 'Roboto Slab', serif;
      size: 18px;
      weight: 700;
    }
    color: #06016d;
}

@mixin roboto-slab-rutina-24 {
    font: {
      family: 'Roboto Slab', serif;
      size: 24px;
      weight: 700;
    }
    color: #06016d;
}

@mixin roboto-slab-tab-14 {
    font: {
      family: 'Roboto Slab', serif;
      size: 14px;
      weight: 400;
    }
    color: #06016d;
}

@mixin roboto-slab-tab-16 {
    font: {
      family: 'Roboto Slab', serif;
      size: 16px;
      weight: 400;
    }
    color: #06016d;
}

@mixin roboto-slab-estancia-16 {
    font: {
      family: 'Roboto Slab', serif;
      size: 16px;
      weight: 700;
    }
    color: #003cff;
}

@mixin roboto-ventaja-15 {
    font: {
      family: 'Roboto', sans-serif;
      size: 15px;
      weight: 400;
    }
    color: black;
}

@mixin roboto-ventaja-25 {
    font: {
      family: 'Roboto', sans-serif;
      size: 25px;
      weight: 400;
    }
    color: black;
}

@mixin roboto-regimen-16 {
    font: {
      family: 'Roboto', sans-serif;
      size: 16px;
      weight: 400;
    }
    color: #06016d;
}

@mixin roboto-exclusivo-14 {
    font: {
      family: 'Roboto', sans-serif;
      size: 14px;
      weight: 400;
    }
    letter-spacing: 1.52px;
    color: white;
}

@mixin roboto-opcional-12 {
    font: {
      family: 'Roboto', sans-serif;
      size: 12px;
      weight: 300;
    }
    color: #06016d;
}

@mixin roboto-cras-14 {
    font: {
      family: 'Roboto', sans-serif;
      size: 14px;
      weight: 400;
    }
    color: grey;
}
