include ../components/_wf-alert

mixin wf-collapse(params)
  - params = params || {}

  .wf-collapse(data-init="collapse")
    each item, index in params.items
      section.wf-collapse__collapse
        +wf-alert(item.alert)
        a.wf-collapse__title(data-function="click" href="javascript:void(0);" alt="Seccion que contiene mas informacion para Mejora tu estancia")
          = item.titCollapse
          span.wf-collapse__title-info Opcional

        .wf-collapse__content
          each section, index in item.sections
            .wf-collapse__group
              figure.wf-collapse__figure
                img.wf-collapse__img(src=section.img)
              .wf-collapse__paragraph
                .wf-collapse__paragraph-box
                  h2.wf-collapse__subtitle= section.title

                  each des, index in section.desc
                    p.wf-collapse__desc= des.txt
                a.wf-collapse__info-btn(data-function="clickOut" href="javascript:void(0);" alt="Seccion que contiene mas informacion para Mejora tu estancia")
                  | Más información y condicones
              .wf-collapse__info
                .wf-collapse__info-content
                  h3.wf-collapse__info-title Incluye
                  each include, index in section.includes
                    ul.wf-collapse__info-list
                      each col, index in include.cols
                        li.wf-collapse__info-item= col.txt

                  p.wf-collapse__info-extra Valores no acumulables a otras promociones similares
