include ../components/_wf-collapse

mixin wf-content-tab2(params)
  - params = params || {}

  .t-m-t-40
    +wf-collapse({
      items: [
        {
          titCollapse: "Mejora tu estancia",
          alert: "Exclusivo hoteles.com",
          sections: [
            {
              img: "assets/img/contents/img1.png",
              title: "Olvídese de la rutina",
              desc: [
                {
                  txt: "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                }
              ],
              includes: [
                {
                  cols: [
                    {
                      txt: "Baño javanés Mandi Susu tradicional: evocación de los baños que tomaban las princesas de las cortes Y palacios de Java Central, en Indonesia, con antiguas recetas en las que se mezclaba la leche y las especias."
                    },
                  ]
                },
                {
                  cols: [
                    {
                      txt: "Baño floral balinés: con aceite de almendra dulce y aromas de jazmín."
                    },
                    {
                      txt: "Baño oceánico: con sal marina y gajos de mandarino o lima."
                    },
                    {
                      txt: "Baño de pies floral: baño aromático de pies, con pétalos y aromas."
                    }
                  ]
                },
                {
                  cols: [
                    {
                      txt: "Baño de vapor herbal: baño de vapor con hierbas del sudeste asiático."
                    },
                    {
                      txt: "Baño de vapor herbal: baño de vapor con hierbas del sudeste asiático."
                    }
                  ]
                }
              ]
            },
            {
              img: "assets/img/contents/img2.png",
              title: "Experiencias y programas SPA con agua",
              desc: [
                {
                  txt: "Las experiencias spa de agua tienen una presencia muy especial en SPA Sensations. No es extraño si consideramos que la mayor parte del planeta, así como del propio cuerpo humano, están compuestos de agua."
                },
                {
                  txt: "El arte de recrear experiencias de agua en variaciones ilimitadas es la base de la propuesta de SPA Sensations a sus clientes, aportando el refinamiento al baño y a la hidratación en todas sus formas. Un mundo mágico de posibilidades, más allá de la terapia y del que ahora usted, también podrá disfrutar."
                }
              ],
              includes: [
                {
                  cols: [
                    {
                      txt: "Baño floral balinés: con aceite de almendra dulce y aromas de jazmín."
                    },
                    {
                      txt: "Baño oceánico: con sal marina y gajos de mandarino o lima."
                    },
                    {
                      txt: "Baño de pies floral: baño aromático de pies, con pétalos y aromas."
                    }
                  ]
                },
                {
                  cols: [
                    {
                      txt: "Baño de vapor herbal: baño de vapor con hierbas del sudeste asiático."
                    },
                    {
                      txt: "Baño de vapor herbal: baño de vapor con hierbas del sudeste asiático."
                    }
                  ]
                }
              ]
            }
          ]
        },
        {
          titCollapse: "Servicios de habitación",
          alert: "Exclusivo hoteles.com",
          sections: [
            {
              img: "assets/img/contents/img3.png",
              title: "Olvídese de la rutina",
              desc: [
                {
                  txt: "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                }
              ],
              includes: [
                {
                  cols: [
                    {
                      txt: "Baño javanés Mandi Susu tradicional: evocación de los baños que tomaban las princesas de las cortes Y palacios de Java Central, en Indonesia, con antiguas recetas en las que se mezclaba la leche y las especias."
                    },
                  ]
                },
                {
                  cols: [
                    {
                      txt: "Baño floral balinés: con aceite de almendra dulce y aromas de jazmín."
                    },
                    {
                      txt: "Baño oceánico: con sal marina y gajos de mandarino o lima."
                    },
                    {
                      txt: "Baño de pies floral: baño aromático de pies, con pétalos y aromas."
                    }
                  ]
                },
                {
                  cols: [
                    {
                      txt: "Baño de vapor herbal: baño de vapor con hierbas del sudeste asiático."
                    },
                    {
                      txt: "Baño de vapor herbal: baño de vapor con hierbas del sudeste asiático."
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    })
