include ../components/_wf-content-tab1
include ../components/_wf-content-tab2

mixin wf-tabs(params)
  - params = params || {}

  .wf-tabs(data-init="tabs")

    ul.wf-tabs__tabs
      li.wf-tabs__tab
        a(href="javascript:void(0);", data-tab="#tab-1", alt="Esta pulsando Tab1", data-function="click-tab").wf-tabs__tab-link Tab 1
      li.wf-tabs__tab
        a(href="javascript:void(0);", data-tab="#tab-2" , alt="Esta pulsando Tab2", data-function="click-tab").wf-tabs__tab-link Tab 2

    .wf-tabs__contents
      .wf-tabs__content(id="tab-1")
        +wf-content-tab1()
      .wf-tabs__content(id="tab-2")
        +wf-content-tab2()
