mixin wf-cards(params)
  - params = params || {}

  .wf-cards(data-init="cards")
    each item, index in params.items
      .wf-cards__card(data-function="card-radio")
        .wf-cards__content
          h2.wf-title__h2 Solo alojamiento
          ul.wf-cards__list
            each content in item.contents
              li.wf-cards__item
                span.wf-cards__item-text= content
        .wf-cards__radio-group
          input.wf-cards__radio(type="radio", name="regimen", value="regimen-#{index}", id="regimen-#{index}")
          label.wf-cards__label(for="regimen-#{index}") Elegir régimen
