include ../components/_wf-cards

mixin wf-content-tab1(params)
  - params = params || {}

  .t-box-s
    h1.wf-title__h1.t-text-align-center HOTEL
      strong.wf-title__name.wf-title__star-4 Mieres del Camín Apartamentos

    +wf-cards({
              items: [
                  {
                      contents: [
                          "Sin régimen.",
                          "Botella de agua de bienvenida."
                      ]
                  },
                  {
                      contents: [
                          "Desayuno buffet completo."
                      ]
                  },
                  {
                      contents: [
                          "Desayuno buffer completo.",
                          "Cena buffet.",
                          "No incluye."
                      ]
                  },
                  {
                      contents: [
                          "Dispondrás de comida y bebida todo el día y durante toda la estancia.",
                          "Restaurante buffet.",
                          "Snack Bar.",
                          "Servicio de bares (marcas nacionales)."
                      ]
                  },
                  {
                      contents: [
                          "Restaurante buffet con bebidas Premium.",
                          "Restaurante a la carta (una cena porestancia).",
                          "Snack Bar con bebidas Premium.",
                          "Minibar incluido.",
                          "Acceso a SPA y 45 minutos de masaje por persona.",
                          "Actividades deportivas (acuáticas sin motor).",
                          "Caja fuerte.",
                          "Parking gratuito.",
                          "Lavandería."
                      ]
                  }
                ]
              })
