//- jade mixin includes
//- general
include ../config
include ../utilities/_util__headBuilder
//- modules

doctype html
<!--[if IE 8 ]> <html lang="es" dir="ltr" class="ie8"> <![endif]-->
<!--[if gte IE 9]><html lang="es" dir="ltr" class="ie9"><![endif]-->
<!--[if !IE]><!--><html lang="es" dir="ltr"><!--<![endif]-->
+m-headBuilder({
	title:"TITLE PROJECT",
	codification:"UTF-8",
	metaList : {
			"author":"Conrado",
			"viewport":"width=device-width, initial-scale=1.0, maximum-scale=1.0,  user-scalable=no",
			"keywords":"keyword1, keyword2, keyword3"
	},
	cssFiles:[
    $globals.pathLibsCss + 'slick',
		$globals.pathCss + 'front-modules'
			],
	jsFiles:[
		$globals.pathLibsJs + 'jquery-2.2.4.min',
    $globals.pathLibsJs + 'slick.min',
		$globals.pathJs + 'front-script'
	]
})
body()
	block body

//- DON'T REMOVE: This tag close HTML tag to make compatible conditional comments
</html>
