///*----------------------------------------------
//   # ce__alert
//------------------------------------------------*/

.#{$wf__ns}alert {
  background-color: color(alert);
  text-align: center;
  padding: rem(1) rem(20);
  &__text {
    text-transform: uppercase;
    @include roboto-exclusivo-14;
    color: color(white);
    font-size: rem(12);
  }
}
