///*----------------------------------------------
//   # ce__box
//------------------------------------------------*/

.#{$wf__ns}title {
  &__h1 {
    color: color(titles);
    padding: rem(40) rem(20) rem(20);
    font-size: rem(20);
  }
  &__h2 {
    color: color(title-2);
    font-size: rem(16);
  }
  &__name {
    padding-left: rem(5);
  }
  &__star {
    display: block;
    margin: 0 auto;
    @for $i from 1 through 5 {
      &-#{$i} {
        &:after {
          content: "";
          background: url(../../../assets/img/icons/star-orange.svg) repeat-x left center transparent;
          width: rem(17 * $i) ;
          height: rem(16);
          display: inline-block;
          background-size: 17px 14px;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}

@include media-query(sm){
	.#{$wf__ns}title {

	}
}

@include media-query(md){
	.#{$wf__ns}title {
    &__h1 {
      font-size: rem(24);
      padding: rem(40) rem(20);
    }
    &__star {
      @for $i from 1 through 5 {
        &-#{$i} {
          &:after {
            margin-left: rem(35);
            display: inline-block;
          }
        }
      }
    }
	}
}

@include media-query(lg){
	.#{$wf__ns}title {

	}
}
