///*----------------------------------------------
//   # ce__box
//------------------------------------------------*/

.#{$wf__ns}collapse {
  &__collapse {
    border: 1px solid color(grey-4);
    position: relative;
    margin-top: rem(25);
    background-color: color(white);
    padding: rem(20);
    .wf-alert{
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &__title {
    color: color(links);
    padding: rem(3) 0;
    display: flex;
    font-size: rem(24);
    text-decoration: none;
    font-weight: 700;
    &-info {
      @include roboto-regimen-16;
      font-size: rem(14);
      padding-top: rem(11.5);
      margin-left: rem(23);
    }
    &:hover,
    &:focus{
      text-decoration: none;
    }
    &:before {
      content: "";
      background: url("./../../../assets/img/icons/angle-down-blue.svg") no-repeat center center transparent;
      margin-right: rem(20);
      height: rem(39);
      width: rem(20);
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      -o-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }
  &__content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  &__group {
    border: 1px solid color(grey-4);
    margin-top: rem(23);
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
  }
  &__figure {
    margin: 0 auto;
    max-width: rem(270);
  }
  &__img {
    max-width: 100%;
  }
  &__paragraph {
    border-left: 0;
    padding: rem(20);
    flex: 1 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    &-box {
      max-width: 100%;
    }
  }
  &__subtitle {
    @include roboto-slab-rutina-24;
    font-size: rem(18);
    flex: 1 100%;
  }
  &__desc {
    @include roboto-cras-14;
    color: color(grey-1);
    flex: 1 100%;
    line-height: rem(20);
  }
  &__info {
    flex: 1 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &-content {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      max-width: rem(900);
      padding: 0 rem(20);
    }
    &-title {
      flex: 1 100%;
      @include roboto-cras-14;
      font-size: rem(16);
      margin-bottom: rem(5);
    }
    &-list {
      width:100%;
      display: inline-block;
      list-style-type: disc;
      color: color(grey-6);
      padding-left: rem(18);
    }
    &-item {
      @include roboto-cras-14;
      color: color(grey-1);
      line-height: rem(18);
      padding-right: rem(10);
    }
    &-btn {
      @include roboto-slab-mejora-18;
      font-size: rem(14);
      margin-top: rem(10);
      display: block;
      text-decoration: none;
      flex: 1 100%;
      align-self: flex-end;
      &:hover {
        text-decoration: none;
      }
      &:after {
        content: "";
        background: url("./../../../assets/img/icons/angle-down-blue.svg") no-repeat center center transparent;
        margin-left: rem(20);
        height: rem(9);
        width: rem(13);
        display: inline-block;
        background-size: rem(13);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      &.open {
        &:after {
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg);
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }
      }
    }
    &-extra {
      @include roboto-regimen-16;
      font-size: rem(14);
      font-weight: 700;
      margin-top: rem(30);
      margin-bottom: rem(20);
      width: 100%;
    }

    &.open {
      border-color: color(grey-4);
      margin-top: rem(20);
      max-height: rem(1600);
      height:auto;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }
  .open {
    .wf-collapse__title {
      &:before {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
    }
    .wf-collapse__content {
      max-height: rem(1600);
      height:auto;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }
}

@include media-query(sm){
  .#{$wf__ns}collapse {
  
  }
}
@include media-query(md){
  .#{$wf__ns}collapse {
    &__figure {
    
    }
    &__paragraph {
      flex: 1 65%;
      padding: rem(15) rem(20) rem(15) rem(25);
      &-box {
        max-width: rem(600);
      }
    }
    &__info {
      margin: 0 auto;
      &-content {
        max-width: rem(790);
      }
      &-list {
        width: rem(250);
      }
    }
  }

}
@include media-query(lg){
  .#{$wf__ns}collapse {
    &__paragraph {
      flex: 1 76.5%;
    }
    &__info {
      &-content {
        max-width: rem(940);
      }
      &-list {
        width: rem(300);
      }
    }
  }
}
