///*----------------------------------------------
//   # ce__box
//------------------------------------------------*/

.#{$wf__ns}tabs {
  width: 100%;
  &__tabs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: color(white);
    @include box-shadow(1px, 1px, 4px, rgba(0,0,0,0.1), false);
    margin-bottom: rem(3);
    padding: 0 rem(30);
  }
  &__tab {
    min-width: rem(120);
    min-height: rem(45);
    position: relative;
    overflow: hidden;
    &.active {
      .wf-tabs__tab-link {
        color: color(titles);
      }
      &::before {
        -webkit-transform: translate(0, 0px);
        -moz-transform: translate(0, 0px);
        -o-transform: translate(0, 0px);
        -ms-transform: translate(0, 0px);
        transform: translate(0, 0px);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
    }
    &::before {
      content: "";
      width: 100%;
      height: 2px;
      background-color: color(titles);
      position: absolute;
      bottom: 0;
      left: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      -webkit-transform: translate(0, 3px);
      -moz-transform: translate(0, 3px);
      -o-transform: translate(0, 3px);
      -ms-transform: translate(0, 3px);
      transform: translate(0, 3px);
    }
    &:hover {
      &::before {
        -webkit-transform: translate(0, 0px);
        -moz-transform: translate(0, 0px);
        -o-transform: translate(0, 0px);
        -ms-transform: translate(0, 0px);
        transform: translate(0, 0px);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
    }
  }
  &__tab-link {
    color: color(links);
    min-height: rem(45);
    display: block;
    text-align: center;
    line-height: rem(40);
    &:hover {
      text-decoration: none;
    }
  }
  &__contents {
    background-color: color( grey-3);
    @include border-radius(3px);
  }
  &__content {
    padding-bottom: rem(40);
  }
}
