///*----------------------------------------------
//   # ce__cards
//------------------------------------------------*/

.#{$wf__ns}cards {
  width: 100%;
  display: block;
  position: relative;
  padding: 0 rem(20) rem(30);
  &__card {
    width: 100%;
    background-color: color(white);
    @include border-radius(2px);
    border: 1px solid color(border-b);
    position: relative;
    z-index: 1;
    padding: 0 rem(10) rem(18);
    min-height: rem(400);
    display: flex !important;
    flex-wrap: wrap;
    height: auto;
    &.active {
      @include box-shadow(1px, 1px, 4px, rgba(0,0,0,0.1), false);
      border-color: color(border-h);
      z-index: 2;
      .wf-cards__radio-group {
        border-color: color(border-h);
        color: color(border-h);
      }
    }
  }
  .wf-title__h2 {
    padding: rem(20) 0;
    position: relative;
    @include roboto-regimen-16;
    font-weight: 700;
    text-align: center;
    margin-bottom: rem(15);
    width: 100%;
    color: color(title-2);
    &::after {
      content: "";
      border-bottom: 2px solid color(border-b);
      position: absolute;
      bottom: 0;
      width: 30%;
      left: 35%;
    }
  }
  &__content{
    align-self: flex-start;
    width: 100%;
  }
  &__list {
    list-style-type:disc;
    color: color(grey-6);
    padding-left: rem(18);
    padding-bottom: rem(45);

  }
  &__item {
    &-text {
      @include roboto-regimen-16;
      font-size: rem(15);
      color: color(border-h);
    }
  }
  &__radio-group {
    align-self: flex-end;
    border: 1px solid transparent;
    background-color: color(bg-page);
    padding: rem(10);
    width: 100%;
    max-width: rem(230);
    margin: 0 auto;
    @include roboto-regimen-16;
    color: color(grey-1);
  }
  &__label {
    position: relative;
    padding-left: rem(30);
    font-size: rem(14);
    &::before {
      content: "";
      border: 1px solid color(radio);
      background-color: color(white);
      width: rem(16);
      height: rem(16);
      position: absolute;
      left: 0;
      top: 2px;
      @include border-radius(50%);
    }
    &::after{
      content: "";
      width: rem(14);
      height: rem(14);
      position: absolute;
      left: rem(1);
      top: 3px;
      @include border-radius(50%);
    }
  }
  &__radio {
    &:checked {
      &+label {
        &::before {
          background-color: color(radio);
        }
        &::after{
          border: 2px solid color(white);
        }
      }
    }
  }
  .slick-track {
    display: flex;
    align-items: stretch;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    button {
      border: 0;
      background-color: color(border-h);
      height: rem(10);
      width: rem(10);
      color: color(border-h);
      font-size: 0;
      margin: 0 rem(15);
      opacity: 0.5;
      @include border-radius(30px);
      cursor: pointer;
    }
    .slick-active {
      button {
        opacity: 1;
      }
    }
  }
}


@include media-query(sm){
	.#{$wf__ns}cards {

	}
}
@include media-query(md){
	.#{$wf__ns}cards {
    display: flex;
    .wf-title__h2 {

    }
    &__card {
      margin: 0 rem(3);
      @include box-shadow(0, 0, 0, rgba(0,0,0,0), false);
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      &__label {
        font-size: rem(16);
      }
      &:hover {
        @include box-shadow(1px, 1px, 4px, rgba(0,0,0,0.1), false);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        border-color: color(border-h);
        z-index: 2;
        cursor: pointer;
        .wf-cards__radio-group {
          border: 1px solid color(border-h);
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }
      }
    }
  }
}
@include media-query(lg){
	.#{$wf__ns}cards {

	}
}
