 /*------------------------------------
     # ELEMENT BODY
 ------------------------------------*/
body {
	position                    : relative;
	@include  roboto-slab-tab-16;
	color                       : color($wf__base-color);
	background-color            : color(bg-page);
	-webkit-text-size-adjust    : 100%;
}

 /*------------------------------------
    # END ELEMENT BODY
------------------------------------*/
